.display-1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-brand-high-contrast);
}

.display-2 {
  font-size: 3.0rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-brand-high-contrast);
}

.heading-1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-high-contrast);
}

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-high-contrast);
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-high-contrast);
}

.heading-4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-high-contrast);
}

.heading-5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-high-contrast);
}

.heading-6 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-family-serif);
  color: var(--text-high-contrast);
}

.body-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);
  color: var(--text-high-contrast);
}

.body-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);
  color: var(--text-high-contrast);
}

.body-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);
  color: var(--text-high-contrast);
}

.body-4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);
  color: var(--text-high-contrast);
}

.low-contrast {
  color: var(--text-low-contrast);
}

.mid-contrast {
  color: var(--text-mid-contrast);
}

.high-contrast {
  color: var(--text-high-contrast);
}

.brand-low-contrast {
  color: var(--text-brand-low-contrast);
}

.brand-mid-contrast {
  color: var(--text-brand-mid-contrast);
}

.brand-high-contrast {
  color: var(--text-brand-high-contrast);
}

.font-family-serif {
  font-family: var(--font-family-serif);
}

.font-family-sans-serif {
  font-family: var(--font-family-sans-serif);
}


.font-weight-normal {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 800;
}
