.follow-actions-component {
  display: flex;
  gap: var(--size-xs);
  flex-wrap: wrap;
  align-items: center;

  &__confirm {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  &__confirm-label {
    margin: 0;
    white-space: nowrap;
  }

  &__confirm-actions {
    display: flex;
    gap: var(--size-xs);
  }
}
