.album {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #e0e0e0;
    color: #000;
    text-decoration: none;

    &:nth-child(2n) {
        background-color: #fafafa;
    }

    &:hover {
        background-color: #f4f4f4;
    }

    .details {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 0;
    }

    .date {
        color: #888;
    }

    .recommender {
        color: #888;
    }
}
