:root {
  --radius-xxs: var(--size-xxs);
  --radius-xs: var(--size-xs);
  --radius-s: var(--size-s);
  --radius-m: var(--size-m);
  --radius-l: var(--size-l);
  --radius-xl: var(--size-xl);
  --radius-xxl: var(--size-xxl);
}
