.friends-page {
  h2 {
    margin-top: var(--size-l);
  }

  .pending-requests {
    padding: var(--size-s);
    background: var(--color-primary-100);

    .follower-row {
      &:not(:last-child) {
        border-bottom: 1px solid var(--color-primary-200);
      }
    }
  }

  .follower-row {
    list-style-type: none;
    display: grid;
    grid-template-columns: 45px 1fr max-content;
    gap: var(--size-s);
    align-items: center;
    padding: var(--size-s) 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-primary-100);
    }
  }
}
