.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 45px;
    color: #fff;

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;

        li {
            list-style: none;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // customize Clerk user button
    .cl-userButton-root {
        border-radius: var(--radius-xxs);
        border: 2px solid var(--color-neutral-100);
        padding: var(--size-xs);

        .cl-userButtonOuterIdentifier {
            color: var(--text-high-contrast);
            font-weight: 500;
            font-size: 15px;
        }
    }
}
